## File system
.DS_Store
desktop.ini

## Editor
*.iml
*.swo
*.swp
.cproject
.favorites.json
.idea
.project
.settings
.vs
.vscode
Session.vim

## Evn files
.direnv
.envrc

## Logs
*.log

## Misc
foo.*

## Rust
/target

## Nix
/result
